<div [ngSwitch]="linguagem">
  <p *ngSwitchCase="'HTML'">Linguagem de marcação.</p>
  <p *ngSwitchCase="'CSS'">Linguagem de estilo.</p>
  <p *ngSwitchCase="'JS'">Linguagem de programação.</p>
  <p *ngSwitchDefault>Linguagem não encontrada.</p> 
</div>

<div [ngSwitch]="linguagem">
  <p *ngSwitchCase="'HTML'">Linguagem de Marcação.</p>
  <p *ngSwitchCase="'CSS'">Linguagem de Estilo.</p>
  <p *ngSwitchCase="'Java'">Linguagem de Programação.</p>
  <p *ngSwitchDefault>Linguagem não encontrada!</p> 
</div>

<!-- um item com nome errado "quebra" todo o componente -->