
<form [formGroup]="formulario">
  <!-- nome -->
  @if (formulario.get('nome').hasError('required') && formulario.get('nome').touched ) {
    <p class="alert alert-warning">O campo Nome é obrigatório!</p>
  }
  @if (formulario.get('nome').hasError('minlength') && formulario.get('nome').touched ) {
    <p class="alert alert-light">O campo Nome precisa ter pelo menos três caracteres.</p>
  }
  <input type="text"    formControlName="nome"    placeholder="Nome" class="form-control">

  <!-- idade -->
  @if (formulario.get('idade').hasError('required') && formulario.get('idade').touched ) {
    <p class="alert alert-warning">O campo Idade é obrigatório!</p>
  }
  @if (formulario.get('idade').hasError('min') && formulario.get('idade').touched ) {
    <p class="alert alert-light">O campo Idade não aceita números inferiores a 0.</p>
  }
  @if (formulario.get('idade').hasError('max') && formulario.get('idade').touched ) {
    <p class="alert alert-light">O campo Idade não aceita números superiores a 120.</p>
  }
  <input type="number"  formControlName="idade"   placeholder="Idade" class="form-control">

  <!-- cidade -->
  @if (formulario.get('cidade').hasError('required') && formulario.get('cidade').touched ) {
    <p class="alert alert-warning">O campo Cidade é obrigatório!</p>
  }
  @if (formulario.get('cidade').hasError('minlength') && formulario.get('cidade').touched ) {
    <p class="alert alert-light">O campo Cidade precisa ter pelo menos três caracteres.</p>
  }
  <input type="text"    formControlName="cidade"  placeholder="Cidade" class="form-control">

  @if (btnCadastrar) {
    <input type="button" value="Cadastrar" (click)="cadastrar()" class="btn btn-primary"
    [disabled]="formulario.get('nome').getError('required') || 
                formulario.get('nome').getError('minlength') ||
  
                formulario.get('idade').getError('required') || 
                formulario.get('idade').getError('min') ||
                formulario.get('idade').getError('max') ||
                
                formulario.get('cidade').getError('required') || 
                formulario.get('cidade').getError('minlength')
    ">
  } @else {
    <input type="button" value="Alterar" class="btn btn-primary"
    [disabled]="formulario.get('nome').getError('required') || 
                formulario.get('nome').getError('minlength') ||

                formulario.get('idade').getError('required') || 
                formulario.get('idade').getError('min') ||
                formulario.get('idade').getError('max') ||
                
                formulario.get('cidade').getError('required') || 
                formulario.get('cidade').getError('minlength')
    ">

    <input type="button" value="Remover" class="btn btn-primary">
    <input type="button" value="Cancelar" class="btn btn-primary">
  }

  <!-- 
  <input type="button" value="Cadastrar" class="btn btn-primary" [hidden]="!btnCadastrar" 
  [disabled]="formulario.get('nome').getError('required') || 
              formulario.get('nome').getError('minlength') ||

              formulario.get('idade').getError('required') || 
              formulario.get('idade').getError('min') ||
              formulario.get('idade').getError('max') ||
              
              formulario.get('cidade').getError('required') || 
              formulario.get('cidade').getError('minlength')
  ">

  <input type="button" value="Alterar" class="btn btn-primary" [hidden]="btnCadastrar"
  [disabled]="formulario.get('nome').getError('required') || 
              formulario.get('nome').getError('minlength') ||

              formulario.get('idade').getError('required') || 
              formulario.get('idade').getError('min') ||
              formulario.get('idade').getError('max') ||
              
              formulario.get('cidade').getError('required') || 
              formulario.get('cidade').getError('minlength')
  ">

  <input type="button" value="Remover" class="btn btn-primary" [hidden]="btnCadastrar">
  <input type="button" value="Cancelar" class="btn btn-primary" [hidden]="btnCadastrar">
  -->
</form>

<!-- Classe table do Bootstrap -->
<table class="table"> 

  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let v of vetor; index as i">
      <td>{{i}}</td>
      <td>{{v.nome}}</td>
      <td>{{v.idade}}</td>
      <td>{{v.cidade}}</td>
      <td><button class="btn btn-primary">Selecionar</button></td>
    </tr>
  </tbody>

</table>