<p>{{formulario.value.nome}}</p>
<p>{{formulario.value.idade}}</p>
<p>{{formulario.value.cidade}}</p>


<form [formGroup]="formulario">
  <input type="text"    formControlName="nome"    placeholder="Nome" class="form-control">
  <input type="number"  formControlName="idade"   placeholder="Idade" class="form-control">
  <input type="text"    formControlName="cidade"  placeholder="Cidade" class="form-control">

  <input type="button" value="Cadastrar" class="btn btn-primary">
  <input type="button" value="Alterar" class="btn btn-primary">
  <input type="button" value="Remover" class="btn btn-primary">
  <input type="button" value="Cancelar" class="btn btn-primary">
</form>

<table class="table"> <!-- Classe table do Bootstrap -->

  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-primary">Selecionar</button></td>
    </tr>
  </tbody>

</table>